@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Google Sans";
  src: url("/fonts/GoogleSans-Bold.eot");
  src: url("/fonts/GoogleSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/GoogleSans-Bold.woff2") format("woff2"),
    url("/fonts/GoogleSans-Bold.woff") format("woff"),
    url("/fonts/GoogleSans-Bold.ttf") format("truetype"),
    url("/fonts/GoogleSans-Bold.svg#GoogleSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans";
  src: url("/fonts/GoogleSans-Regular.eot");
  src: url("/fonts/GoogleSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/GoogleSans-Regular.woff2") format("woff2"),
    url("/fonts/GoogleSans-Regular.woff") format("woff"),
    url("/fonts/GoogleSans-Regular.ttf") format("truetype"),
    url("/fonts/GoogleSans-Regular.svg#GoogleSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.mainFont {
  font-family: "Google Sans", sans-serif;
}

/* Panel */
.panel {
  @apply relative rounded-md bg-white p-5 shadow dark:bg-black;
}

/* Sidebar */

.nav-item:hover,
.nav-item:hover svg {
  @apply !text-test;
}

.nav-item svg {
  @apply !text-white;
}
.active,
.active svg {
  @apply !text-test;
}

.sidebar > div {
  @apply bg-transparent;
}
.btn[disabled] {
  @apply cursor-not-allowed opacity-60;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f500;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}

.select-date .react-datepicker-wrapper {
  width: 100%;
}

/* tables */
table > thead > tr > th,
table > tbody > tr > td {
  @apply !py-3 !px-4 text-sm;
}
table > thead > tr > th.mantine-187dsit {
  background-color: rgb(224 230 237 / 0.3);
}
.datatables table tbody tr {
  @apply bg-white dark:!border-[#191e3a] dark:bg-black;
}

.datatables table tr.mantine-1ublbff.mantine-1ublbff {
  @apply bg-transparent;
}
/* .datatables table tbody tr td {
  @apply !border-0 !border-none;
} */
table tr .mantine-Checkbox-root {
  @apply flex;
}
.datatables table thead tr th {
  @apply !border-b-0 !bg-gray-100  text-black dark:!bg-[#1a2941] dark:!text-white-dark;
}

.datatables .table-bordered table thead tr th,
.datatables .table-bordered table tbody tr td {
  @apply !border !border-solid !border-[#f6f7fa] dark:!border-[#191e3a];
}

.datatables .table-compact table thead tr th,
.datatables .table-compact table tbody tr td {
  @apply !py-2 !px-3;
}
/* .datatables table thead tr th.text-center > div {
    @apply text-center;
} */
.datatables .mantine-gzzjso,
.datatables .mantine-lrzwoq {
  @apply border-t-0 !p-0 !pt-5 !bg-transparent;
}
.datatables.pagination-padding .mantine-gzzjso {
  @apply !px-5;
}
[dir="rtl"] .datatables .mantine-ScrollArea-root.mantine-lvjyp7 {
  direction: rtl;
}
/* .mantine-Table-root[data-hover] tbody tr:hover {
    @apply !bg-[#e0e6ed33] dark:!bg-[#1a2941]/40;
} */
.mantine-Table-root[data-striped] tbody tr:nth-of-type(odd) {
  @apply bg-white-light/20 dark:!bg-[#1a2941]/40;
}
.datatables table {
  @apply !text-black dark:!text-white-dark;
}
.datatables .mantine-Text-root {
  @apply flex-none text-sm font-medium;
}

.datatables thead tr th .mantine-Group-root.mantine-1d34tqu {
  @apply justify-start;
}
.datatables thead tr th .mantine-Group-root.mantine-1d34tqu .mantine-oqxib5 {
  @apply flex-grow-0;
}
.mantine-Group-root > .mantine-Text-root {
  @apply hidden;
}
.mantine-Group-root .mantine-UnstyledButton-root {
  @apply hover:bg-inherit dark:!border-[#191e3a] dark:text-white-dark;
}

.mantine-Table-root th.text-right .mantine-Group-root {
  @apply !justify-end;
}
.datatables .mantine-Group-root[role="navigation"] {
  @apply flex-auto justify-end gap-1;
}
.mantine-Menu-dropdown {
  @apply dark:!border-[#191e3a] dark:!bg-[#1a2941] dark:text-white-dark;
}

.mantine-Checkbox-body {
  @apply grid h-5 w-5 place-content-center overflow-hidden rounded  border-0  bg-transparent text-primary;
}
.datatables .mantine-Checkbox-inner > .mantine-Checkbox-input {
  @apply border-[1px] border-[#8d8d8e8f] bg-transparent dark:!border-[#253b5c];
}
.datatables .mantine-Checkbox-inner > .mantine-Checkbox-input:checked {
  @apply !border-primary bg-primary;
}

.mantine-y4ntz3 {
  @apply rounded border border-white-light outline-0 focus:ring-1 focus:ring-white-light/40;
}
.mantine-3xbgk5 .mantine-qo1k2 {
  @apply p-2 text-sm;
}
.mantine-Pagination-item {
  @apply h-9 w-9 rounded-full border-white-light !bg-white-light text-sm !text-[#3b3f5c] hover:!bg-primary hover:!text-white dark:border-[#191e3a] dark:!bg-[#191e3a] dark:!text-white;
}
.mantine-Pagination-item[data-active] {
  @apply !bg-primary !text-white;
}
.mantine-Menu-item .mantine-Text-root {
  @apply text-center !text-sm;
}
.mantine-Menu-item {
  @apply hover:bg-primary hover:text-white dark:text-white-dark dark:hover:text-white;
}
.mantine-Menu-arrow {
  @apply dark:!border-[#191e3a];
}
.mantine-Menu-item:disabled {
  @apply !text-[#adb5bd];
}
.mantine-ScrollArea-viewport > div:first-child > div {
  @apply bg-none;
}

.table-responsive {
  @apply overflow-auto;
}
table {
  @apply w-full !border-collapse;
}
table thead tr,
table tfoot tr {
  @apply border-b-0 !bg-white-light/30  dark:!bg-[#1a2941];
}
table thead tr th,
table tfoot tr th,
table tbody tr td {
  @apply !py-3 !px-4 ltr:text-left rtl:text-right;
}
table thead tr th,
table tfoot tr th {
  @apply font-semibold;
}
table tbody tr {
  @apply border-b !border-white-light/40 dark:!border-[#191e3a];
}
table.table-hover tbody tr {
  @apply hover:!bg-white-light/20 dark:hover:!bg-[#1a2941]/40;
}
table.table-striped tbody tr:nth-child(odd) {
  @apply !bg-white-light/20 dark:!bg-[#1a2941]/40;
}

table.dataTable-table tbody tr th,
table.dataTable-table tbody tr td {
  @apply border-b border-[#e5e7eb] py-3 px-4 ltr:text-left rtl:text-right dark:border-[#191e3a];
}
table.dataTable-table tbody tr:last-child {
  @apply border-b-0;
}

table.dataTable-table tbody tr th,
table.dataTable-table tbody tr td {
  @apply border-b border-[#e5e7eb] py-3 px-4 ltr:text-left rtl:text-right dark:border-[#191e3a];
}
table.dataTable-table tbody tr:last-child td {
  @apply border-b-0;
}

table tbody tr td {
  overflow: visible;
}

/* Forms */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
  @apply text-sm text-slate-800 bg-white border;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox {
  @apply rounded;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select {
  @apply leading-5 py-2 px-3 border-slate-200 hover:border-slate-300 focus:border-indigo-300 shadow-sm;
}

.form-input,
.form-textarea {
  @apply placeholder-slate-400;
}

.form-select {
  @apply pr-10;
}

.form-checkbox,
.form-radio {
  @apply text-indigo-500 border border-slate-300;
}

.react-datepicker-popper[data-placement^="top"]
  .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^="top"]
  .react-datepicker__triangle::after,
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::after {
  left: -20px !important;
}

tr td {
  overflow: hidden;
  text-overflow: ellipsis;
}
tr td:first-child {
  max-width: 300px;
}

.mantine-ScrollArea-viewport {
  max-height: 70vh;
}
.react-datepicker-popper {
  z-index: 9999 !important;
}
.custom-customer {
  background: linear-gradient(
      109.46deg,
      rgba(201, 201, 201, 0.8) 1.57%,
      rgba(196, 196, 196, 0.1) 100%
    ),
    linear-gradient(
      108.87deg,
      rgba(255, 255, 255, 0.8) 0.66%,
      rgba(211, 211, 211, 0.1) 99.48%
    );
}
.custom-coppy > div > div {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}
.custom-coppy .form-input {
  background-color: #eaf0f7;
  gap: 15px;
}
.react-datepicker__month-wrapper {
  white-space: nowrap;
}

.message:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  background: #ccc;
  left: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.test header {
  border: 0;
  background: #fff;
}

.mantine-Checkbox-inner > input {
  height: 1.25rem !important;
  width: 1.25rem !important;
  display: block !important;
  border-radius: 4px !important;
}

.activeCheckbox {
  background-color: #62a2d9;
  color: white;
}

/* :is(.sub-menu ul li a):before,
:is(.sub-menu ul li button):before {
  content: var(--tw-content);
  margin-right: 0.5rem;
} */
.sub-menu ul li a:before,
.sub-menu ul li button:before {
  height: 0.125rem;
  width: 0.5rem;
  border-radius: 0.25rem;
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

:is(
    #sidebar.custom_scroll > div,
    .custom_scroll,
    .form-rating
  )::-webkit-scrollbar {
  width: 4px;
}

.custom_scroll_x::-webkit-scrollbar {
  height: 4px;
}

/* Track */
:is(
    #sidebar.custom_scroll > div,
    .custom_scroll,
    .custom_scroll_x,
    .form-rating
  )::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: transparent;
}

/* Handle */
:is(
    #sidebar.custom_scroll > div,
    .custom_scroll,
    .custom_scroll_x,
    .form-rating
  )::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #dadada;
}
.bg-cs {
  /* background: url(../public/assets/images-employee/bg-welcome.png); */
  height: auto;
  /* width: 50%; */
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
}
@media screen and (max-width: 1000px) {
  .respon {
    display: none;
  }
}
.table-classic .mantine-ScrollArea-viewport {
  max-height: 100% !important;
}
.custom-button span {
  padding: 0;
}

@media screen and (max-width: 540px) {
  .custom-mb {
    overflow: hidden;
    max-height: 100vh;
  }

  .custom-mb > div {
    width: calc(100% + 300px);
    opacity: 0.4;
    pointer-events: none;
  }
}

div[role="dialog"]:focus-visible {
  outline: none;
}

:is(.customer-editor, .jodit__preview-box) :is(ol, ul) {
  list-style: initial;
  padding-inline-start: 25px;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.accordion-content {
  height: 0px;
  overflow: hidden;
}

.swiper-pagination-bullet-active {
  background-color: "#ffc936" !important;
}
